@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
}

body {
  background: hsl(0, 3%, 94%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: #fff;
}

.header p {
  padding: 0 10rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.main {
  /* background-color: rgb(227, 223, 223); */
  top: 3rem;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  /* background-color: rgb(237, 233, 233); */
}

.search-bar input {
  margin: 0 10rem;
  height: 60%;
  width: 20%;
  border: 0;
  padding: 1rem;
  background-color: #fff;
  font-size: 1.1rem;
}

.search-bar select {
  padding: 0 0.5rem;
  margin: 0 10rem;
  height: 60%;
  width: 15%;
  border: 0;
  background-color: #fff;
  font-size: 1.1rem;
}

.content {
  width: 100%;
  min-height: 80vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-cards {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 2rem;
  border: 0.5px solid grey;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.country-cards .img {
  width: 100%;
  height: 50%;

  /* border: 2px solid red; */
}

.country-cards .details {
  padding: 1rem;
  line-height: 1.6;
}

.country-cards .img img {
  background-position: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.country-cards .details {
  height: 50%;
  width: 100%;
  /* border: 2px solid red; */
}

.country-details-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  height: 75vh;
  justify-content: center;
  align-items: center;
}

.button {
  width: 79%;
  /* border: 2px solid red; */
  margin: 1rem 0;
}

.btn-back {
  font-weight: 600;
  border: 0;
  font-size: 1rem;
  padding: 0 1rem;
  float: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-back:hover {
  cursor: pointer;
  background-color: rgb(129, 223, 254);
  transition: all 0.2s;
}

.details-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 65vh;
}

.flag img {
  width: 450px;
  height: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.country-details {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.sub-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-details div p,
.last-child {
  font-weight: bold;
  font-size: 1rem;
}

.sub-details div p .span {
  font-weight: 600;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
}

.last-child button {
  background-color: rgb(121, 109, 109);
  color: white;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  font-weight: 600;
  border: 0;
  font-size: 1rem;
  /* border-radius: 1rem; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.last-child button:hover {
  color: rgb(3, 120, 81);
  background-color: azure;
  transition: all 0.2s;
}

.back-button {
  margin: 2rem;
}

.back-button {
  background-color: rgb(46, 40, 40);
  color: white;
  margin: 1rem;
  padding: 0rem 1rem;
  font-weight: 600;
  border: 0;
  font-size: 1.2rem;
  /* border-radius: 1rem; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.back-button:hover {
  color: rgb(3, 120, 81);
  background-color: azure;
  transition: all 0.2s;
}
